/* This is the CSS file for the landing page */
* {
  /*outline: 2px solid red;*/
}


.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-content{
    width: 750px;
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 100px;

}

.hero-content {
    display: flex;
    gap: 50px;
    width: ;
    height: ;
    justify-content: center;
    
}

.content {
    width: 350px;
    height: 300px;
    
}

.placeholder {
    width: 450px;
    height: 200px;
    background-color: #8a8fa49f;
    
}

.hero-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 39px;
    margin-bottom: 0%;
    margin-top: 0%;

}

.hero-subtext {
    color: #D1D5DB;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.first-button {
    background-color: #3B82F6;
    color: white;
    font-weight: 700;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0%;
    border: none;
    line-height: 14px;
}