/* This is the CSS file for the landing page */
* {
  /*outline: 2px solid red;*/
}


.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-content{
    width: px;
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 313px;
    /* outline: 2px solid red; */

}

.header-links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    /* outline: 2px solid red; */
    width: 450px;

}

.hero-content {
    display: flex;
    gap: 50px;
    justify-content: center;
    
}

.content {
    width: 350px;
    height: 300px;
    
}

.placeholder {
    width: 450px;
    height: 200px;
    background-color: #8a8fa49f;
    /* outline: 2px solid red; */
    text-align: center;
    line-height: 200px;
    
}

.hero-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 39px;
    margin-bottom: 0%;
    margin-top: 0%;

}

.hero-subtext {
    color: #D1D5DB;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.first-button {
    background-color: #3B82F6;
    color: white;
    font-weight: 700;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0%;
    border: none;
    line-height: 14px;
}

.second-section-header {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.boxes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    /* margin-bottom: 50px;  */
}

.box {
  width: 130px;
  height: 130px;
  border: 3px solid #3B82F6; /* 👈 adds a solid blue line around the box */
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 8px;
}

.text-container {
    text-align: center;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid red; */
    gap: 25px;
    margin-top: 0.5%;
}

.subtext {
    /* font-size: 16px; */
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    /* outline: 2px solid red; */
    line-height: 90%;
    color: #1818189f;   
}

.quote-section {
    background-color: #E5E7EB;
    color: ;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    align-items: center;
}

.main-quote {
    display: flex;
    font-style: italic;
    font-size: 30px;
    color: #1818189f;
    margin-top: 80px;

}

.main-author {
    display: flex;
    justify-content: flex-end;
    font-weight: 1000;
    width: 620px;
    font-size: 20px;
    margin-top: -25px;
    margin-bottom: 70px;
    
}